
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    width: 100%;
    background: #141414;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
}

button {
    background-color: transparent;
    border: 0px;
    cursor:pointer;
}

