.slider-wrapper {
    margin: 0px 0px 0px 60px;
    position: relative;
    overflow: hidden;
    height: 250px;
}

.container-media {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;

}

.slides-container {
    
    display: inline-block;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow-x: scroll;
    scroll-behavior: smooth;
    white-space: nowrap;
    overflow-y: visible;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
}

.slides-container {
    scrollbar-width: none; 
    -ms-overflow-style: none;  
}
 
.slides-container::-webkit-scrollbar { 
    width: 0;
    height: 0;
}

h3 {
    color: #fff;
    padding: 15px 0px 5px 30px;
}

.row-container-left {
    position: absolute;
    z-index: 150;
    display: flex;
    align-content: center;
    align-items: center;
    left: 0;
    height: 100%;

}

.row-container-right {
    position: absolute;
    z-index: 150;
    display: flex;
    align-content: center;
    align-items: center;
    right: 0;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), #262626);
}

.row {
    color: rgba(255, 255, 255, 0);
    padding: 15px;
}

.icon-display {
    transform: scale(4)
}

.row:hover {
    color: #fff;
    padding: 15px;
    transition: 0.5s;
}

@media only screen and (max-width: 1100px) {
    .slider-wrapper{
        margin: 0px 0px 0px 15px;
        height: 170px ;
    }
}