<div class="slider-wrapper">
  <h3>Series de EE. UU.</h3>
  <div class="container-media">
    <div class="row-container-left">
      <button (click)="left()" class="row" id="row-left">
        <mat-icon class="icon-display">keyboard_arrow_left</mat-icon>
      </button>
    </div>
    <div class="row-container-right">
      <button (click)="right()" class="row" id="row-right">
        <mat-icon class="icon-display">keyboard_arrow_right</mat-icon>
      </button>
    </div>
    <div class="slides-container" id="slides-container">
      <app-content-card *ngFor="let card of cards" [img]=card.img>      
      </app-content-card>    
    </div>
  </div>
</div>