<header class="master-head">
  <div class="header-wrap">
    <div class="header-warp-inner">
      <div class="left-part">
        <div>      
          <img class="logo"
            src="https://images.ctfassets.net/y2ske730sjqp/821Wg4N9hJD8vs5FBcCGg/9eaf66123397cc61be14e40174123c40/Vector__3_.svg?w=460">
        </div>
        <nav class="nav-menu">        
          <ul class="nav-menu-options" *ngIf="!flagScreen">
            <li>
              <a href="">
                Inicio
              </a>
            </li>
            <li>
              <a href="">
                Series
              </a>
            </li>
            <li>
              <a href="">
                Peliculas
              </a>
            </li>
            <li>
              <a href="">
                Novedades populares
              </a>
            </li>
            <li>
              <a href="n">
                Mi lista
              </a>
            </li>
            <li>
              <a href="">
                Explorar por idiomas
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="right-part">
        <nav class="nav-menu">
          <ul class="nav-menu-options">
            
            <li>
              <a href="">
                <mat-icon>search</mat-icon>
              </a>
            </li>
            <li>
              <a href="">
                <mat-icon>notifications</mat-icon>
              </a>
            </li>
            <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="flagScreen" class="menu-responsive-button">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <span>Inicio</span>
              </button>
              <button mat-menu-item disabled>
                <span>Series</span>
              </button>
              <button mat-menu-item>
                <span>Peliculas</span>
              </button>
              <button mat-menu-item>
                <span>Novedades populares</span>
              </button>
              <button mat-menu-item>
                <span>Mi lista</span>
              </button>
              <button mat-menu-item>
                <span>Explorar por idiomas</span>
              </button>
            </mat-menu>
            <li>
              <img
                src="https://occ-0-3791-114.1.nflxso.net/dnm/api/v6/K6hjPJd6cR6FpVELC5Pd6ovHRSk/AAAABVbYEW3Bkl6g7KkyJmusw_jPAXtpY6KusGOVNs-4v4vTLf6h4kETNq3ApIhFAHL2Dbe1z1T-j8gaEIw5TElx87IQfk791_g.png?r=5eb">
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

<section id="trailer" *ngIf="!flagScreen">
  <div id="gradient"></div>

  <div class="container-trailer-content">
    <img class="content-title"
      [src]=portada.titulo>
    <h4>
      {{portada.description}}
    </h4>
    <div class="container-portada-actions">
      <button class="primary-button action-button"><mat-icon>play_arrow</mat-icon> Reproducir</button>
      <button class="secondary-button action-button"><mat-icon>info</mat-icon> Mas información</button>
    </div>
  </div>

</section>

<section id="sliders">
  <app-slider *ngFor="let element of sliders" [slider] = element></app-slider>
  <app-slider *ngFor="let element of sliders" [slider] = element></app-slider>
</section>