<header class="master-head">
  <div class="header-wrap">
    <div class="header-warp-inner">
      <div class="left-part">
        <div>
          <img class="logo"
            src="https://images.ctfassets.net/y2ske730sjqp/821Wg4N9hJD8vs5FBcCGg/9eaf66123397cc61be14e40174123c40/Vector__3_.svg?w=460">
        </div>
        <nav class="nav-menu">
          <ul class="nav-menu-options">
            <li>
              <a href="">
                Inicio
              </a>
            </li>
            <li>
              <a href="">
                Series
              </a>
            </li>
            <li>
              <a href="">
                Peliculas
              </a>
            </li>
            <li>
              <a href="">
                Novedades populares
              </a>
            </li>
            <li>
              <a href="">
                Mi lista
              </a>
            </li>
            <li>
              <a href="">
                Explorar por idiomas
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="right-part">
        <nav class="nav-menu">
          <ul class="nav-menu-options">
            <li>
              <a href="">
                <mat-icon>search</mat-icon>
              </a>
            </li>
            <li>
              <a href="">
                <mat-icon>notifications</mat-icon>
              </a>
            </li>
            <li>
              <img
                src="https://occ-0-3791-114.1.nflxso.net/dnm/api/v6/K6hjPJd6cR6FpVELC5Pd6ovHRSk/AAAABVbYEW3Bkl6g7KkyJmusw_jPAXtpY6KusGOVNs-4v4vTLf6h4kETNq3ApIhFAHL2Dbe1z1T-j8gaEIw5TElx87IQfk791_g.png?r=5eb">
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

<section id="trailer">
  <img class="img-portada"
    src="https://occ-0-3791-114.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABdC8ahpXnpKXdbQHJRnDhxJiQ-7beBe-2ooYC3mGS1923YfveTVkGsGI2ueI_mw6r1wj6lyaOZ2gZqkSaQL1uLc8dhFOv0PX5nIg.webp?r=8a5">
  <div id="gradient"></div>

  <div class="container-trailer-content">
    <img class="content-title"
      src="https://occ-0-3791-114.1.nflxso.net/dnm/api/v6/tx1O544a9T7n8Z_G12qaboulQQE/AAAABX14LPFNJKl5iqHVD8YJJI-tt1UWRH_h2FOZ-ZXcmTV7Fm1feGyQUJGftu9W6ZDHxzSZe9SUAYUTS1WYgGu2srse-LG3XKKvwcBXY__X2AAaUgHT0VSGhPqfIkSySiq8Bhxl0242EiU7vO-QilGFeFauX7bzUaGlD74zEz7UbKeMGHes_xgK.webp?r=522">
    <h4>
      Una familia con un atroz secreto comienza una nueva vida en Madrid, pero las nuevas relaciones complican sus
      planes, y el pasado no los deja en paz.
    </h4>
  </div>

</section>

<section id="sliders">
  <app-slider></app-slider>
  <app-slider></app-slider>
</section>